@model Post
<form asp-controller="Post" asp-action="EditaPost" method="post">
  <input type="hidden" asp-for="Id"/>
  <input type="hidden" asp-for="Publicado"/>
  <input type="hidden" asp-for="DataPublicacao"/>
  @Html.EditorFor(post => post)
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>
@section Scripts {
  @Html.Partial("_Scripts")
}