<html>
<head></head>
<body>
    <h2>Lista de Posts</h2>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Resumo</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var post in ViewBag.Posts) {
                <tr>
                    <td>@post.Titulo</td>
                    <td>@post.Resumo</td>
                    <td>@post.Categoria</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>