@model IList<blog.Models.Post>
<html>
<head></head>
<body>
    <h2>Lista de Posts</h2>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Resumo</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var post in Model) {
                <tr>
                    <td><a href="/Post/Visualiza/@post.Id">@post.Titulo</a></td>
                    <td>@post.Resumo</td>
                    <td>@post.Categoria</td>
                    <td>
                        <a  href="/Post/RemovePost/@post.Id">Remover</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>