@model Post
<h2>Cadastro de Post</h2>

@using(Html.BeginForm("Adiciona", "Post"))
{
    @Html.EditorFor(post	=>	post)
    <button type="submit">Cadastrar</button>
}
@section Scripts {
	@Html.Partial("_Scripts")
}